<h1>Dashboard de Países</h1>
<div style="display: inline-block; margin-left: 20px;">
  <button onclick="window.location.href='/api/paises/agregar'">Agregar País</button>
  <button onclick="window.location.href='/api/paises/editar'">Editar País</button>
  <button onclick="window.location.href='/api/paises/borrar'">Borrar País</button>
</div>


<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nombre Oficial</th>
      <th>Fronteras</th>
      <th>Índice GINI</th>
      <th>Población</th>
      <th>Área</th>
      <th>Zonas Horarias</th>
      <th>Región</th>
      <th>Subregión</th>
      <th>Creador</th>
    </tr>
  </thead>
  <tbody>
    <% if (paises && paises.length > 0) { %>
      <% paises.forEach(pais => { %>
        <tr>
          <td><%= pais.name %></td>
          <td><%= pais.officialName %></td>
          <td><%= pais.borders %></td>
          <td><%= pais.gini %></td>
          <td><%= pais.population %></td>
          <td><%= pais.area %> km²</td>
          <td><%= pais.timezones %></td>
          <td><%= pais.region %></td>
          <td><%= pais.subregion %></td>
          <td><%= pais.creador %></td>
        </tr>
      <% }) %>
    <% } else { %>
      <tr>
        <td colspan="10">No hay datos disponibles</td>
      </tr>
    <% } %>
  </tbody>
</table>
